In [2]:
import pandas as pd
df = pd.read_csv('data/reidin_insight_data.csv')

In [14]:
df.head()

,Transaction Type,Date,Location,Property Name,Property Type,Bedrooms,Balcony Area,Size (Sqf),Land Size,Amount (AED),AED/Sqf,Developer
0,Mortgage - Ready,02-01-2024,Business Bay,Hamilton Residency,Apartment,1,58,869,NaN,812607,934.8,Deyaar Development Company
1,Mortgage - Ready,02-01-2024,Rukan,Rukan Villas,Villa,3,0,2127,1894.0,1699992,799.2,Continental Investment LLC
2,Mortgage - Ready,02-01-2024,Tilal Al Ghaf,Elan,Villa,3,0,2142,1556.0,2360000,1101.7,Majid Al Futtaim (MAF Group)
3,Mortgage - Ready,02-01-2024,Town Square,Una Apartments B,Apartment,1,27,480,NaN,461280,961.3,Nshama
4,Mortgage - Ready,02-01-2024,Villanova,La Rosa 1,Villa,3,0,1947,1733.0,1953760,1003.4,Dubai Properties

In [2]:
df['Location'].value_counts()

Location
Jumeirah Village Circle        8588
Business Bay                   6785
Jumeirah Lake Towers           3750
Downtown Dubai                 3706
Sobha Hartland                 3679
                               ...
Al Safa Second                    1
Al Baraha                         1
The Springs and The Meadows       1
Hor Al Anz East                   1
Al Twar Second                    1
Name: count, Length: 174, dtype: int64

In [9]:
def add_link(location: str, link: str) -> None:
    df.loc[df['Location'] == location, 'Link'] = f"https://viewit.ae/listings?purpose=Buy&page=1&pageSize=24&location={link}"
    print('Added Link for', location)
    return df[df['Location']==location].head()

In [7]:
add_link('Business Bay', 'Business%20Bay')

Added link for Business Bay

In [ ]:
df[df['Location']=='Jumeirah Lake Towers']['Link'].head()

In [ ]:
add_link('Downtown Dubai', 'Downtown%20Dubai')

# Adding Links

In [1]:
import pandas as pd
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
df = pd.read_csv('data/reidin_merged.csv')
df['Date'] = pd.to_datetime(df["Date"], format="%d-%m-%Y", exact=False).dt.date
df.head()

,Sales Type,Date,Location,Property Type,Bedrooms,Balcony Area,Built-up Area,Plot Size,Price,Developer
0,Off Plan,2023-06-02,"J One Tower A, Business Bay",Apartment,0,168.13,619.58,0.00,1496097.0,RKM Real Estate LLC
1,Off Plan,2023-06-02,"The First Collection Business Bay, Business Bay",Hotel Apartment,0,0.00,350.69,0.00,1291500.0,The First Group
2,Off Plan,2023-06-02,"Opal Gardens, District Eleven",Villa,4,0.00,3786.78,3920.36,4790000.0,Meydan Developments L.L.C
3,Off Plan,2023-06-02,"Opal Gardens, District Eleven",Villa,4,0.00,3782.36,3920.14,4800000.0,Meydan Developments L.L.C
4,Off Plan,2023-06-02,"Opal Gardens, District Eleven",Villa,4,0.00,5095.79,7216.40,8460000.0,Meydan Developments L.L.C

In [3]:
df['Location'].isna().sum()

0

In [4]:
df[['Sub', 'Area']] = df['Location'].str.split(', ', expand=True)

In [5]:
df.head()

,Sales Type,Date,Location,Property Type,Bedrooms,Balcony Area,Built-up Area,Plot Size,Price,Developer,Sub,Area
0,Off Plan,2023-06-02,"J One Tower A, Business Bay",Apartment,0,168.13,619.58,0.00,1496097.0,RKM Real Estate LLC,J One Tower A,Business Bay
1,Off Plan,2023-06-02,"The First Collection Business Bay, Business Bay",Hotel Apartment,0,0.00,350.69,0.00,1291500.0,The First Group,The First Collection Business Bay,Business Bay
2,Off Plan,2023-06-02,"Opal Gardens, District Eleven",Villa,4,0.00,3786.78,3920.36,4790000.0,Meydan Developments L.L.C,Opal Gardens,District Eleven
3,Off Plan,2023-06-02,"Opal Gardens, District Eleven",Villa,4,0.00,3782.36,3920.14,4800000.0,Meydan Developments L.L.C,Opal Gardens,District Eleven
4,Off Plan,2023-06-02,"Opal Gardens, District Eleven",Villa,4,0.00,5095.79,7216.40,8460000.0,Meydan Developments L.L.C,Opal Gardens,District Eleven

In [6]:
df['Area'].isna().sum()

287

In [7]:
df['Area'].fillna('', inplace=True)
df['Area'].value_counts()

Area
Jumeirah Village Circle              16402
Business Bay                         14795
Dubai Marina                         12238
Downtown Dubai                        9592
Damac Lagoons                         8672
Dubai Hills Estate                    8070
Jumeirah Lake Towers                  7440
Al Furjan                             6942
International City                    6682
Palm Jumeirah                         6129
Damac Hills 2                         4975
Arjan                                 4941
Sobha Hartland                        4716
Dubai Creek Harbour                   4527
Dubai Sports City                     4465
Town Square                           4324
Damac Hills (Akoya)                   3927
Dubai Silicon Oasis                   3389
Jumeirah Beach Residence              3193
Meydan One                            2895
Dubai Production City (IMPZ)          2651
Dubai Harbour                         2632
Dubailand Residence Complex           2594
Jumeirah Village Triangle             2590
Arabian Ranches                       2080
The Springs                           2020
Mudon                                 2010
Tilal Al Ghaf                         1964
Jumeirah Golf Estates                 1864
Emaar South                           1863
Discovery Gardens                     1713
Meydan City                           1620
The Villages                          1596
Villanova                             1547
District One                          1539
Arabian Ranches Phase 3               1515
Damac Hills                           1499
Nad Al Shiba Third                    1440
Jumeirah Park                         1411
Al Kifaf                              1368
Reem                                  1340
City Walk                             1319
Remraam                               1295
Uptown Motorcity                      1227
The Greens                            1222
The Valley                            1123
Barsha Heights                        1106
Arabian Ranches Phase 2               1096
The Views                             1089
Bluewaters Island                     1068
Jebel Ali Village                      987
International City Phase 2 & 3         984
Jebel Ali First                        956
Falconcity of Wonders                  950
Liwan                                  913
Green Community West                   874
The Villa                              836
Victory Heights                        816
Muhaisanah First                       788
The Meadows                            780
Dubai Science Park (Dubiotech)         779
District Eleven                        761
Umm Suqeim Third                       757
Serena                                 747
Al Quoz Second                         707
Mirdif                                 669
Al Quoz Fourth                         654
Al Jadaf                               650
Nad Al Shiba First                     624
The Old Town                           621
Dubai Maritime City                    593
Dubai South                            574
The Lakes                              561
Palm Jebel Ali                         527
Green Community Motor City             523
Living Legends                         515
Dubai Studio City                      497
Al Barari                              490
Culture Village                        471
Jumeirah Islands                       461
Dubai Design District                  460
Rukan                                  433
Dubai Healthcare City Phase 2          423
Al Mina                                420
La Mer                                 420
The Sustainable City                   364
Majan                                  359
Jumeirah Bay Island                    329
Green Community East                   329
Business Park Motor City               329
The Hills                              317
City of Arabia                         302
                                       287
Al Wasl                                281
Emirates Hills                         263
Al Sufouh First                        260
Jebel Ali Downtown                     213
Meaisem Second                         207
Cedre Villas                           203
Dubai Festival City                    198
World Islands                          195
Palm Deira                             181
Dubai Investment Park Second           172
Jumeirah Heights                       154
Al Barshaa South Third                 145
Expo Site                              140
Al Waha                                132
Trade Center Second                    131
Zaabeel First                          107
District Seven                          98
Dubai Media City                        98
Dubai Industrial City                   94
Al Qusais Industrial Second             78
Dubai Investment Park First             74
Dubai Waterfront                        74
Pearl Jumeirah                          61
Nad Al Shiba                            55
Dubai Investment Park                   55
Dubai Golf City                         52
Al Barsha First                         51
Dubai Internet City                     42
Cherrywoods                             31
Jebel Ali Free Zone                     26
Al Sufouh                               21
Rigga Al Butten                         21
Al Buteen                               17
Dubai Healthcare City                   17
Port Saeed                              14
Dubai South (Dubai World Central)       12
Jumeirah First                           8
Bu Kadra                                 8
Tecom Business Park (Al Sufouh)          7
Al Qusais Industrial Fourth              7
Trade Center First                       6
Riverside                                5
Jumeirah Second                          3
Green Community (DIP)                    2
Dubai Industrial City First              1
Name: count, dtype: int64

In [8]:
import requests

url = "https://viewit.ae/api/locations"
resp = requests.get(url).json()
resp

{'Message': 'Get Locations',
 'ResponseCode': 200,
 'Status': True,
 'Data': [{'id': 145, 'location_name': ''},
  {'id': 99, 'location_name': 'Academic City'},
  {'id': 118, 'location_name': 'Akoya Oxygen'},
  {'id': 102, 'location_name': 'Al Awir'},
  {'id': 81, 'location_name': 'Al Badaa'},
  {'id': 95, 'location_name': 'Al Barari'},
  {'id': 40, 'location_name': 'Al Barari'},
  {'id': 88, 'location_name': 'Al Barsha'},
  {'id': 23, 'location_name': 'Al Barsha'},
  {'id': 71, 'location_name': 'Al Buteen'},
  {'id': 38, 'location_name': 'Al Furjan'},
  {'id': 70, 'location_name': 'Al Garhoud'},
  {'id': 78, 'location_name': 'Al Hudaiba'},
  {'id': 79, 'location_name': 'Al Jafliya'},
  {'id': 74, 'location_name': 'Al Karama'},
  {'id': 64, 'location_name': 'Al Khabisi'},
  {'id': 61, 'location_name': 'Al Khawaneej'},
  {'id': 101, 'location_name': 'Al Mamzar'},
  {'id': 86, 'location_name': 'Al Manara'},
  {'id': 20, 'location_name': 'Al Manara'},
  {'id': 73, 'location_name': 'Al Mina'},
  {'id': 60, 'location_name': 'Al Mizhar'},
  {'id': 56, 'location_name': 'Al Nahda 1'},
  {'id': 87, 'location_name': 'Al Quoz'},
  {'id': 21, 'location_name': 'Al Quoz'},
  {'id': 57, 'location_name': 'Al Qusais'},
  {'id': 68, 'location_name': 'Al Rashidiya'},
  {'id': 120, 'location_name': 'Al Ruwayyah'},
  {'id': 83, 'location_name': 'Al Safa'},
  {'id': 80, 'location_name': 'Al Satwa'},
  {'id': 22, 'location_name': 'Al Sufouh'},
  {'id': 62, 'location_name': 'Al Twar'},
  {'id': 65, 'location_name': 'Al Warqaa'},
  {'id': 97, 'location_name': 'Al Warsan'},
  {'id': 82, 'location_name': 'Al Wasl'},
  {'id': 4, 'location_name': 'Arabian Ranches'},
  {'id': 135, 'location_name': 'Arabian Ranches 10'},
  {'id': 136, 'location_name': 'Arabian Ranches 11'},
  {'id': 127, 'location_name': 'Arabian Ranches 2'},
  {'id': 128, 'location_name': 'Arabian Ranches 3'},
  {'id': 129, 'location_name': 'Arabian Ranches 4'},
  {'id': 130, 'location_name': 'Arabian Ranches 5'},
  {'id': 131, 'location_name': 'Arabian Ranches 6'},
  {'id': 132, 'location_name': 'Arabian Ranches 7'},
  {'id': 133, 'location_name': 'Arabian Ranches 8'},
  {'id': 134, 'location_name': 'Arabian Ranches 9'},
  {'id': 30, 'location_name': 'Arjan'},
  {'id': 93, 'location_name': 'Barsha Heights (Tecom)'},
  {'id': 126, 'location_name': 'Bluewaters Island'},
  {'id': 77, 'location_name': 'Bukadra'},
  {'id': 43, 'location_name': 'Bur Dubai'},
  {'id': 2, 'location_name': 'Business Bay'},
  {'id': 54, 'location_name': 'City of Arabia'},
  {'id': 14, 'location_name': 'City of Arabia'},
  {'id': 50, 'location_name': 'Culture Village'},
  {'id': 122, 'location_name': 'DAMAC Hills (Akoya by DAMAC)'},
  {'id': 11, 'location_name': 'DIFC'},
  {'id': 42, 'location_name': 'Deira'},
  {'id': 5, 'location_name': 'Discovery Gardens'},
  {'id': 94, 'location_name': 'DownTown Jebel Ali'},
  {'id': 47, 'location_name': 'Downtown Dubai'},
  {'id': 36, 'location_name': 'Downtown Jebel Ali'},
  {'id': 140, 'location_name': 'Dragon City'},
  {'id': 92, 'location_name': 'Dubai Festival City'},
  {'id': 33, 'location_name': 'Dubai Festival City'},
  {'id': 137, 'location_name': 'Dubai Harbour'},
  {'id': 112, 'location_name': 'Dubai Hills Estate'},
  {'id': 90, 'location_name': 'Dubai Industrial Park'},
  {'id': 26, 'location_name': 'Dubai Industrial Park (DIP)'},
  {'id': 104, 'location_name': 'Dubai Internet City'},
  {'id': 91, 'location_name': 'Dubai Land'},
  {'id': 1, 'location_name': 'Dubai Marina'},
  {'id': 72, 'location_name': 'Dubai Maritime City'},
  {'id': 105, 'location_name': 'Dubai Media City'},
  {'id': 100, 'location_name': 'Dubai Promenade'},
  {'id': 123, 'location_name': 'Dubai Residence Complex'},
  {'id': 45, 'location_name': 'Dubai Science Park'},
  {'id': 49, 'location_name': 'Dubai Silicon Oasis'},
  {'id': 119, 'location_name': 'Dubai South'},
  {'id': 9, 'location_name': 'Dubai Sports City'},
  {'id': 107, 'location_name': 'Dubai Studio City'},
  {'id': 52, 'location_name': 'Dubai Waterfront'},
  {'id': 37, 'location_name': 'Dubai World Central'},
  {'id': 28, 'location_name': 'Dubailand'},
  {'id': 116, 'location_name': 'Emirates Golf Club'},
  {'id': 39, 'location_name': 'Emirates Hills'},
  {'id': 32, 'location_name': 'IMPZ'},
  {'id': 117, 'location_name': 'Ibn Battuta Gate'},
  {'id': 10, 'location_name': 'International City'},
  {'id': 3, 'location_name': 'JLT'},
  {'id': 89, 'location_name': 'Jebel Ali'},
  {'id': 25, 'location_name': 'Jebel Ali'},
  {'id': 27, 'location_name': 'Jumeirah'},
  {'id': 17, 'location_name': 'Jumeirah Beach Residence (JBR)'},
  {'id': 13, 'location_name': 'Jumeirah Golf Estate'},
  {'id': 114, 'location_name': 'Jumeirah Heights'},
  {'id': 24, 'location_name': 'Jumeirah Islands'},
  {'id': 53, 'location_name': 'Jumeirah Park'},
  {'id': 12, 'location_name': 'Jumeirah Village Circle'},
  {'id': 46, 'location_name': 'Jumeirah Village Triangle (JVT)'},
  {'id': 106, 'location_name': 'Knowledge Village'},
  {'id': 31, 'location_name': 'Liwan'},
  {'id': 96, 'location_name': 'Meydan City'},
  {'id': 44, 'location_name': 'Meydan City'},
  {'id': 142, 'location_name': 'Mina Rashid'},
  {'id': 59, 'location_name': 'Mirdif'},
  {'id': 111, 'location_name': 'Mohammad Bin Rashid City'},
  {'id': 98, 'location_name': 'Motor City'},
  {'id': 109, 'location_name': 'Mudon'},
  {'id': 58, 'location_name': 'Muhaisnah'},
  {'id': 143, 'location_name': 'Murqquab'},
  {'id': 66, 'location_name': 'Nad Al Hamar'},
  {'id': 76, 'location_name': 'Nad Al Sheba'},
  {'id': 67, 'location_name': 'Nad Shamma'},
  {'id': 115, 'location_name': 'Nshama Town Square'},
  {'id': 18, 'location_name': 'Old Town'},
  {'id': 63, 'location_name': 'Oud Al Muteena'},
  {'id': 51, 'location_name': 'Palm Jumeirah'},
  {'id': 103, 'location_name': 'Pearl Jumeirah'},
  {'id': 75, 'location_name': 'Ras Al Khor'},
  {'id': 108, 'location_name': 'Reem'},
  {'id': 29, 'location_name': 'Remraam'},
  {'id': 121, 'location_name': 'Serena'},
  {'id': 48, 'location_name': 'Sheikh Zayed Road'},
  {'id': 6, 'location_name': 'Springs'},
  {'id': 125, 'location_name': 'Technology Park'},
  {'id': 34, 'location_name': 'Tecom'},
  {'id': 15, 'location_name': 'The Gardens'},
  {'id': 7, 'location_name': 'The Greens'},
  {'id': 110, 'location_name': 'The Hills'},
  {'id': 55, 'location_name': 'The Lagoons'},
  {'id': 16, 'location_name': 'The Lagoons'},
  {'id': 41, 'location_name': 'The Lakes'},
  {'id': 8, 'location_name': 'The Meadows'},
  {'id': 113, 'location_name': 'The Sustainable City'},
  {'id': 144, 'location_name': 'The Valley'},
  {'id': 35, 'location_name': 'The World Islands'},
  {'id': 139, 'location_name': 'Tilal Al Ghaf'},
  {'id': 85, 'location_name': 'Umm Al Sheif'},
  {'id': 69, 'location_name': 'Umm Ramool'},
  {'id': 84, 'location_name': 'Umm Suqeim'},
  {'id': 19, 'location_name': 'Umm Suqeim'},
  {'id': 138, 'location_name': 'Wadi Al Safa 2'},
  {'id': 141, 'location_name': 'Wasl Gate'},
  {'id': 124, 'location_name': 'World Trade Centre'}]}

In [9]:
locs = []
for i in resp['Data']:
    locs.append(i['location_name'])

In [10]:
locs = list(dict.fromkeys(locs))
sorted(locs)

['',
 'Academic City',
 'Akoya Oxygen',
 'Al Awir',
 'Al Badaa',
 'Al Barari',
 'Al Barsha',
 'Al Buteen',
 'Al Furjan',
 'Al Garhoud',
 'Al Hudaiba',
 'Al Jafliya',
 'Al Karama',
 'Al Khabisi',
 'Al Khawaneej',
 'Al Mamzar',
 'Al Manara',
 'Al Mina',
 'Al Mizhar',
 'Al Nahda 1',
 'Al Quoz',
 'Al Qusais',
 'Al Rashidiya',
 'Al Ruwayyah',
 'Al Safa',
 'Al Satwa',
 'Al Sufouh',
 'Al Twar',
 'Al Warqaa',
 'Al Warsan',
 'Al Wasl',
 'Arabian Ranches',
 'Arabian Ranches 10',
 'Arabian Ranches 11',
 'Arabian Ranches 2',
 'Arabian Ranches 3',
 'Arabian Ranches 4',
 'Arabian Ranches 5',
 'Arabian Ranches 6',
 'Arabian Ranches 7',
 'Arabian Ranches 8',
 'Arabian Ranches 9',
 'Arjan',
 'Barsha Heights (Tecom)',
 'Bluewaters Island',
 'Bukadra',
 'Bur Dubai',
 'Business Bay',
 'City of Arabia',
 'Culture Village',
 'DAMAC Hills (Akoya by DAMAC)',
 'DIFC',
 'Deira',
 'Discovery Gardens',
 'DownTown Jebel Ali',
 'Downtown Dubai',
 'Downtown Jebel Ali',
 'Dragon City',
 'Dubai Festival City',
 'Dubai Harbour',
 'Dubai Hills Estate',
 'Dubai Industrial Park',
 'Dubai Industrial Park (DIP)',
 'Dubai Internet City',
 'Dubai Land',
 'Dubai Marina',
 'Dubai Maritime City',
 'Dubai Media City',
 'Dubai Promenade',
 'Dubai Residence Complex',
 'Dubai Science Park',
 'Dubai Silicon Oasis',
 'Dubai South',
 'Dubai Sports City',
 'Dubai Studio City',
 'Dubai Waterfront',
 'Dubai World Central',
 'Dubailand',
 'Emirates Golf Club',
 'Emirates Hills',
 'IMPZ',
 'Ibn Battuta Gate',
 'International City',
 'JLT',
 'Jebel Ali',
 'Jumeirah',
 'Jumeirah Beach Residence (JBR)',
 'Jumeirah Golf Estate',
 'Jumeirah Heights',
 'Jumeirah Islands',
 'Jumeirah Park',
 'Jumeirah Village Circle',
 'Jumeirah Village Triangle (JVT)',
 'Knowledge Village',
 'Liwan',
 'Meydan City',
 'Mina Rashid',
 'Mirdif',
 'Mohammad Bin Rashid City',
 'Motor City',
 'Mudon',
 'Muhaisnah',
 'Murqquab',
 'Nad Al Hamar',
 'Nad Al Sheba',
 'Nad Shamma',
 'Nshama Town Square',
 'Old Town',
 'Oud Al Muteena',
 'Palm Jumeirah',
 'Pearl Jumeirah',
 'Ras Al Khor',
 'Reem',
 'Remraam',
 'Serena',
 'Sheikh Zayed Road',
 'Springs',
 'Technology Park',
 'Tecom',
 'The Gardens',
 'The Greens',
 'The Hills',
 'The Lagoons',
 'The Lakes',
 'The Meadows',
 'The Sustainable City',
 'The Valley',
 'The World Islands',
 'Tilal Al Ghaf',
 'Umm Al Sheif',
 'Umm Ramool',
 'Umm Suqeim',
 'Wadi Al Safa 2',
 'Wasl Gate',
 'World Trade Centre']

In [11]:
locs = sorted(locs)[1:]
locs

['Academic City',
 'Akoya Oxygen',
 'Al Awir',
 'Al Badaa',
 'Al Barari',
 'Al Barsha',
 'Al Buteen',
 'Al Furjan',
 'Al Garhoud',
 'Al Hudaiba',
 'Al Jafliya',
 'Al Karama',
 'Al Khabisi',
 'Al Khawaneej',
 'Al Mamzar',
 'Al Manara',
 'Al Mina',
 'Al Mizhar',
 'Al Nahda 1',
 'Al Quoz',
 'Al Qusais',
 'Al Rashidiya',
 'Al Ruwayyah',
 'Al Safa',
 'Al Satwa',
 'Al Sufouh',
 'Al Twar',
 'Al Warqaa',
 'Al Warsan',
 'Al Wasl',
 'Arabian Ranches',
 'Arabian Ranches 10',
 'Arabian Ranches 11',
 'Arabian Ranches 2',
 'Arabian Ranches 3',
 'Arabian Ranches 4',
 'Arabian Ranches 5',
 'Arabian Ranches 6',
 'Arabian Ranches 7',
 'Arabian Ranches 8',
 'Arabian Ranches 9',
 'Arjan',
 'Barsha Heights (Tecom)',
 'Bluewaters Island',
 'Bukadra',
 'Bur Dubai',
 'Business Bay',
 'City of Arabia',
 'Culture Village',
 'DAMAC Hills (Akoya by DAMAC)',
 'DIFC',
 'Deira',
 'Discovery Gardens',
 'DownTown Jebel Ali',
 'Downtown Dubai',
 'Downtown Jebel Ali',
 'Dragon City',
 'Dubai Festival City',
 'Dubai Harbour',
 'Dubai Hills Estate',
 'Dubai Industrial Park',
 'Dubai Industrial Park (DIP)',
 'Dubai Internet City',
 'Dubai Land',
 'Dubai Marina',
 'Dubai Maritime City',
 'Dubai Media City',
 'Dubai Promenade',
 'Dubai Residence Complex',
 'Dubai Science Park',
 'Dubai Silicon Oasis',
 'Dubai South',
 'Dubai Sports City',
 'Dubai Studio City',
 'Dubai Waterfront',
 'Dubai World Central',
 'Dubailand',
 'Emirates Golf Club',
 'Emirates Hills',
 'IMPZ',
 'Ibn Battuta Gate',
 'International City',
 'JLT',
 'Jebel Ali',
 'Jumeirah',
 'Jumeirah Beach Residence (JBR)',
 'Jumeirah Golf Estate',
 'Jumeirah Heights',
 'Jumeirah Islands',
 'Jumeirah Park',
 'Jumeirah Village Circle',
 'Jumeirah Village Triangle (JVT)',
 'Knowledge Village',
 'Liwan',
 'Meydan City',
 'Mina Rashid',
 'Mirdif',
 'Mohammad Bin Rashid City',
 'Motor City',
 'Mudon',
 'Muhaisnah',
 'Murqquab',
 'Nad Al Hamar',
 'Nad Al Sheba',
 'Nad Shamma',
 'Nshama Town Square',
 'Old Town',
 'Oud Al Muteena',
 'Palm Jumeirah',
 'Pearl Jumeirah',
 'Ras Al Khor',
 'Reem',
 'Remraam',
 'Serena',
 'Sheikh Zayed Road',
 'Springs',
 'Technology Park',
 'Tecom',
 'The Gardens',
 'The Greens',
 'The Hills',
 'The Lagoons',
 'The Lakes',
 'The Meadows',
 'The Sustainable City',
 'The Valley',
 'The World Islands',
 'Tilal Al Ghaf',
 'Umm Al Sheif',
 'Umm Ramool',
 'Umm Suqeim',
 'Wadi Al Safa 2',
 'Wasl Gate',
 'World Trade Centre']

In [12]:
# LIST OF LOCATIONS NOT FOUND IN VIEWIT DATABASE BUT EXISTS IN REIDIN DATA
for i in df['Area'].unique():
    if i not in locs:
        print(i)

District Eleven
Dubai Production City (IMPZ)
Nad Al Shiba First
Arabian Ranches Phase 2
Arabian Ranches Phase 3
Damac Hills (Akoya)
Damac Lagoons
District One
Dubai Creek Harbour
Damac Hills 2
Dubai Science Park (Dubiotech)
Barsha Heights
Jumeirah Beach Residence
Jumeirah Lake Towers
Jumeirah Village Triangle
La Mer
Sobha Hartland
The Springs
The Views
The Villa
Uptown Motorcity
Emaar South
Jebel Ali Village
Living Legends
Al Kifaf
Al Sufouh First
City Walk
Dubailand Residence Complex
Meydan One
Town Square
Victory Heights
Villanova
Dubai Investment Park Second
Green Community East
Trade Center Second
Jumeirah Golf Estates
Dubai Healthcare City Phase 2
Falconcity of Wonders
Majan
The Old Town
The Villages
Jebel Ali First
Al Jadaf
International City Phase 2 & 3
Al Quoz Fourth
Jumeirah Bay Island
Green Community West
Jebel Ali Downtown
Cedre Villas
Dubai Industrial City
Umm Suqeim Third
Muhaisanah First
Al Barsha First
Green Community Motor City
Al Waha
World Islands
Dubai Golf City
Dubai South (Dubai World Central)
Nad Al Shiba Third
Jumeirah Second
Dubai Healthcare City
Al Qusais Industrial Fourth
Rigga Al Butten
Riverside
Dubai Investment Park First
Rukan
Damac Hills
Dubai Design District
Cherrywoods
Nad Al Shiba
Tecom Business Park (Al Sufouh)
District Seven
Zaabeel First
Al Qusais Industrial Second
Palm Jebel Ali

Meaisem Second
Dubai Investment Park
Expo Site
Al Quoz Second
Business Park Motor City
Palm Deira
Jumeirah First
Port Saeed
Jebel Ali Free Zone
Trade Center First
Dubai Industrial City First
Al Barshaa South Third
Bu Kadra
Green Community (DIP)

In [13]:
# LIST OF LOCATIONS NOT FOUND IN REIDIN DATA BUT EXISTS IN VIEWIT DATA
for i in locs:
    if i not in df['Area'].unique():
        print(i)

Academic City
Akoya Oxygen
Al Awir
Al Badaa
Al Barsha
Al Garhoud
Al Hudaiba
Al Jafliya
Al Karama
Al Khabisi
Al Khawaneej
Al Mamzar
Al Manara
Al Mizhar
Al Nahda 1
Al Quoz
Al Qusais
Al Rashidiya
Al Ruwayyah
Al Safa
Al Satwa
Al Twar
Al Warqaa
Al Warsan
Arabian Ranches 10
Arabian Ranches 11
Arabian Ranches 2
Arabian Ranches 3
Arabian Ranches 4
Arabian Ranches 5
Arabian Ranches 6
Arabian Ranches 7
Arabian Ranches 8
Arabian Ranches 9
Barsha Heights (Tecom)
Bukadra
Bur Dubai
DAMAC Hills (Akoya by DAMAC)
DIFC
Deira
DownTown Jebel Ali
Downtown Jebel Ali
Dragon City
Dubai Industrial Park
Dubai Industrial Park (DIP)
Dubai Land
Dubai Promenade
Dubai Residence Complex
Dubai Science Park
Dubai World Central
Dubailand
Emirates Golf Club
IMPZ
Ibn Battuta Gate
JLT
Jebel Ali
Jumeirah
Jumeirah Beach Residence (JBR)
Jumeirah Golf Estate
Jumeirah Village Triangle (JVT)
Knowledge Village
Mina Rashid
Mohammad Bin Rashid City
Motor City
Muhaisnah
Murqquab
Nad Al Hamar
Nad Al Sheba
Nad Shamma
Nshama Town Square
Old Town
Oud Al Muteena
Ras Al Khor
Sheikh Zayed Road
Springs
Technology Park
Tecom
The Gardens
The Lagoons
The World Islands
Umm Al Sheif
Umm Ramool
Umm Suqeim
Wadi Al Safa 2
Wasl Gate
World Trade Centre

In [14]:
added = []
notfound = []

for location in df['Area'].unique():
    if location in locs:
        df.loc[df['Area'] == location, 'Link'] = f"https://viewit.ae/listings?purpose=Buy&page=1&pageSize=24&location={ '%20'.join(location.split(' ')) }"
        added.append(location)
    else:
        notfound.append(location)

for i in added:
    print(f" Added link for {i}")
print('')
for j in notfound:
    print(f"Area {j} not found in the list of locations.")

 Added link for Business Bay
 Added link for The Valley
 Added link for Al Furjan
 Added link for Arjan
 Added link for Downtown Dubai
 Added link for Jumeirah Village Circle
 Added link for Tilal Al Ghaf
 Added link for Dubai Silicon Oasis
 Added link for The Greens
 Added link for Arabian Ranches
 Added link for Discovery Gardens
 Added link for Dubai Hills Estate
 Added link for Dubai Marina
 Added link for Dubai Sports City
 Added link for International City
 Added link for Jumeirah Heights
 Added link for Jumeirah Islands
 Added link for Jumeirah Park
 Added link for Liwan
 Added link for Serena
 Added link for The Sustainable City
 Added link for Dubai Harbour
 Added link for Meydan City
 Added link for Mirdif
 Added link for Mudon
 Added link for Al Barari
 Added link for Bluewaters Island
 Added link for Culture Village
 Added link for Dubai Studio City
 Added link for Palm Jumeirah
 Added link for Remraam
 Added link for The Lakes
 Added link for The Meadows
 Added link for Dubai Maritime City
 Added link for Reem
 Added link for The Hills
 Added link for Dubai Media City
 Added link for Pearl Jumeirah
 Added link for Emirates Hills
 Added link for Dubai Festival City
 Added link for Dubai Waterfront
 Added link for Al Buteen
 Added link for City of Arabia
 Added link for Al Sufouh
 Added link for Dubai South
 Added link for Al Wasl
 Added link for Al Mina
 Added link for Dubai Internet City

Area District Eleven not found in the list of locations.
Area Dubai Production City (IMPZ) not found in the list of locations.
Area Nad Al Shiba First not found in the list of locations.
Area Arabian Ranches Phase 2 not found in the list of locations.
Area Arabian Ranches Phase 3 not found in the list of locations.
Area Damac Hills (Akoya) not found in the list of locations.
Area Damac Lagoons not found in the list of locations.
Area District One not found in the list of locations.
Area Dubai Creek Harbour not found in the list of locations.
Area Damac Hills 2 not found in the list of locations.
Area Dubai Science Park (Dubiotech) not found in the list of locations.
Area Barsha Heights not found in the list of locations.
Area Jumeirah Beach Residence not found in the list of locations.
Area Jumeirah Lake Towers not found in the list of locations.
Area Jumeirah Village Triangle not found in the list of locations.
Area La Mer not found in the list of locations.
Area Sobha Hartland not found in the list of locations.
Area The Springs not found in the list of locations.
Area The Views not found in the list of locations.
Area The Villa not found in the list of locations.
Area Uptown Motorcity not found in the list of locations.
Area Emaar South not found in the list of locations.
Area Jebel Ali Village not found in the list of locations.
Area Living Legends not found in the list of locations.
Area Al Kifaf not found in the list of locations.
Area Al Sufouh First not found in the list of locations.
Area City Walk not found in the list of locations.
Area Dubailand Residence Complex not found in the list of locations.
Area Meydan One not found in the list of locations.
Area Town Square not found in the list of locations.
Area Victory Heights not found in the list of locations.
Area Villanova not found in the list of locations.
Area Dubai Investment Park Second not found in the list of locations.
Area Green Community East not found in the list of locations.
Area Trade Center Second not found in the list of locations.
Area Jumeirah Golf Estates not found in the list of locations.
Area Dubai Healthcare City Phase 2 not found in the list of locations.
Area Falconcity of Wonders not found in the list of locations.
Area Majan not found in the list of locations.
Area The Old Town not found in the list of locations.
Area The Villages not found in the list of locations.
Area Jebel Ali First not found in the list of locations.
Area Al Jadaf not found in the list of locations.
Area International City Phase 2 & 3 not found in the list of locations.
Area Al Quoz Fourth not found in the list of locations.
Area Jumeirah Bay Island not found in the list of locations.
Area Green Community West not found in the list of locations.
Area Jebel Ali Downtown not found in the list of locations.
Area Cedre Villas not found in the list of locations.
Area Dubai Industrial City not found in the list of locations.
Area Umm Suqeim Third not found in the list of locations.
Area Muhaisanah First not found in the list of locations.
Area Al Barsha First not found in the list of locations.
Area Green Community Motor City not found in the list of locations.
Area Al Waha not found in the list of locations.
Area World Islands not found in the list of locations.
Area Dubai Golf City not found in the list of locations.
Area Dubai South (Dubai World Central) not found in the list of locations.
Area Nad Al Shiba Third not found in the list of locations.
Area Jumeirah Second not found in the list of locations.
Area Dubai Healthcare City not found in the list of locations.
Area Al Qusais Industrial Fourth not found in the list of locations.
Area Rigga Al Butten not found in the list of locations.
Area Riverside not found in the list of locations.
Area Dubai Investment Park First not found in the list of locations.
Area Rukan not found in the list of locations.
Area Damac Hills not found in the list of locations.
Area Dubai Design District not found in the list of locations.
Area Cherrywoods not found in the list of locations.
Area Nad Al Shiba not found in the list of locations.
Area Tecom Business Park (Al Sufouh) not found in the list of locations.
Area District Seven not found in the list of locations.
Area Zaabeel First not found in the list of locations.
Area Al Qusais Industrial Second not found in the list of locations.
Area Palm Jebel Ali not found in the list of locations.
Area  not found in the list of locations.
Area Meaisem Second not found in the list of locations.
Area Dubai Investment Park not found in the list of locations.
Area Expo Site not found in the list of locations.
Area Al Quoz Second not found in the list of locations.
Area Business Park Motor City not found in the list of locations.
Area Palm Deira not found in the list of locations.
Area Jumeirah First not found in the list of locations.
Area Port Saeed not found in the list of locations.
Area Jebel Ali Free Zone not found in the list of locations.
Area Trade Center First not found in the list of locations.
Area Dubai Industrial City First not found in the list of locations.
Area Al Barshaa South Third not found in the list of locations.
Area Bu Kadra not found in the list of locations.
Area Green Community (DIP) not found in the list of locations.

In [15]:
notfound

['District Eleven',
 'Dubai Production City (IMPZ)',
 'Nad Al Shiba First',
 'Arabian Ranches Phase 2',
 'Arabian Ranches Phase 3',
 'Damac Hills (Akoya)',
 'Damac Lagoons',
 'District One',
 'Dubai Creek Harbour',
 'Damac Hills 2',
 'Dubai Science Park (Dubiotech)',
 'Barsha Heights',
 'Jumeirah Beach Residence',
 'Jumeirah Lake Towers',
 'Jumeirah Village Triangle',
 'La Mer',
 'Sobha Hartland',
 'The Springs',
 'The Views',
 'The Villa',
 'Uptown Motorcity',
 'Emaar South',
 'Jebel Ali Village',
 'Living Legends',
 'Al Kifaf',
 'Al Sufouh First',
 'City Walk',
 'Dubailand Residence Complex',
 'Meydan One',
 'Town Square',
 'Victory Heights',
 'Villanova',
 'Dubai Investment Park Second',
 'Green Community East',
 'Trade Center Second',
 'Jumeirah Golf Estates',
 'Dubai Healthcare City Phase 2',
 'Falconcity of Wonders',
 'Majan',
 'The Old Town',
 'The Villages',
 'Jebel Ali First',
 'Al Jadaf',
 'International City Phase 2 & 3',
 'Al Quoz Fourth',
 'Jumeirah Bay Island',
 'Green Community West',
 'Jebel Ali Downtown',
 'Cedre Villas',
 'Dubai Industrial City',
 'Umm Suqeim Third',
 'Muhaisanah First',
 'Al Barsha First',
 'Green Community Motor City',
 'Al Waha',
 'World Islands',
 'Dubai Golf City',
 'Dubai South (Dubai World Central)',
 'Nad Al Shiba Third',
 'Jumeirah Second',
 'Dubai Healthcare City',
 'Al Qusais Industrial Fourth',
 'Rigga Al Butten',
 'Riverside',
 'Dubai Investment Park First',
 'Rukan',
 'Damac Hills',
 'Dubai Design District',
 'Cherrywoods',
 'Nad Al Shiba',
 'Tecom Business Park (Al Sufouh)',
 'District Seven',
 'Zaabeel First',
 'Al Qusais Industrial Second',
 'Palm Jebel Ali',
 '',
 'Meaisem Second',
 'Dubai Investment Park',
 'Expo Site',
 'Al Quoz Second',
 'Business Park Motor City',
 'Palm Deira',
 'Jumeirah First',
 'Port Saeed',
 'Jebel Ali Free Zone',
 'Trade Center First',
 'Dubai Industrial City First',
 'Al Barshaa South Third',
 'Bu Kadra',
 'Green Community (DIP)']

In [22]:
with open('test.txt', 'w') as f:
    for item in sorted(notfound):
        f.write("%s\n" % item)

In [16]:
def add_link(location: str, link: str) -> None:
    df.loc[df['Area'] == location, 'Link'] = f"https://viewit.ae/listings?purpose=Buy&page=1&pageSize=24&location={ link if link else '%20'.join(location.split(' ')) }"
    print('Added Link for', location)
    return df[df['Area'] == location].head(2)

In [43]:
def linkify(viewit_area_name: str) -> str:
    return '%20'.join(viewit_area_name.split())

In [17]:
add_link('Barsha Heights', 'Barsha%20Heights%20%28Tecom%29')

Added Link for Barsha Heights

,Sales Type,Date,Location,Property Type,Bedrooms,Balcony Area,Built-up Area,Plot Size,Price,Developer,Sub,Area,Link
50,Ready,2023-06-02,"Madison Residency Barsha Heights, Barsha Heights",Apartment,2,221.95,1307.29,0.0,1050000.0,Deyaar Development Company,Madison Residency Barsha Heights,Barsha Heights,https://viewit.ae/listings?purpose=Buy&page=1&pageSize=24&location=Barsha%20Heights%20%28Tecom%29
148,Off Plan,2023-06-01,"Boutique 7, Barsha Heights",Apartment,1,59.52,669.84,0.0,980000.0,Private Investor,Boutique 7,Barsha Heights,https://viewit.ae/listings?purpose=Buy&page=1&pageSize=24&location=Barsha%20Heights%20%28Tecom%29

In [18]:
for location in ['Al Barsha First', 'Al Barshaa South Third']:
    add_link(location, f'%20'.join('Al Barsha'.split()))

Added Link for Al Barsha First
Added Link for Al Barshaa South Third

In [19]:
add_link('Damac Hills (Akoya)', 'DAMAC%20Hills%20%28Akoya%20by%20DAMAC%29')

Added Link for Damac Hills (Akoya)

,Sales Type,Date,Location,Property Type,Bedrooms,Balcony Area,Built-up Area,Plot Size,Price,Developer,Sub,Area,Link
21,Ready,2023-06-02,"The Park Residences, Damac Hills (Akoya)",Villa,2,0.0,2098.28,1614.06,2150000.0,Damac Properties,The Park Residences,Damac Hills (Akoya),https://viewit.ae/listings?purpose=Buy&page=1&pageSize=24&location=DAMAC%20Hills%20%28Akoya%20by%20DAMAC%29
22,Ready,2023-06-02,"The Park Residences, Damac Hills (Akoya)",Villa,2,0.0,1930.78,1485.22,1850000.0,Damac Properties,The Park Residences,Damac Hills (Akoya),https://viewit.ae/listings?purpose=Buy&page=1&pageSize=24&location=DAMAC%20Hills%20%28Akoya%20by%20DAMAC%29

In [20]:
add_link('Jebel Ali Downtown', '%20'.join('Downtown Jebel Ali'.split()))

Added Link for Jebel Ali Downtown

,Sales Type,Date,Location,Property Type,Bedrooms,Balcony Area,Built-up Area,Plot Size,Price,Developer,Sub,Area,Link
807,Off Plan,2023-05-29,"Azizi Aura, Jebel Ali Downtown",Apartment,0,58.56,367.81,0.0,529000.0,Azizi Developments,Azizi Aura,Jebel Ali Downtown,https://viewit.ae/listings?purpose=Buy&page=1&pageSize=24&location=Downtown%20Jebel%20Ali
1919,Ready,2023-05-23,"Suburbia B, Jebel Ali Downtown",Apartment,1,58.66,688.25,0.0,369000.0,Damac Properties,Suburbia B,Jebel Ali Downtown,https://viewit.ae/listings?purpose=Buy&page=1&pageSize=24&location=Downtown%20Jebel%20Ali

In [21]:
for loc in ['Jebel Ali First',
             'Jebel Ali Free Zone',
             'Jebel Ali Village',
             'Palm Jebel Ali']:
    add_link(loc, '%20'.join('Jebel Ali'.split()))

Added Link for Jebel Ali First
Added Link for Jebel Ali Free Zone
Added Link for Jebel Ali Village
Added Link for Palm Jebel Ali

In [22]:
add_link('Jumeirah Lake Towers', 'JLT')

Added Link for Jumeirah Lake Towers

,Sales Type,Date,Location,Property Type,Bedrooms,Balcony Area,Built-up Area,Plot Size,Price,Developer,Sub,Area,Link
78,Ready,2023-06-02,"Al Seef Tower 3, Jumeirah Lake Towers",Apartment,2,65.98,1664.01,0.0,1860000.0,Emirates National Investment,Al Seef Tower 3,Jumeirah Lake Towers,https://viewit.ae/listings?purpose=Buy&page=1&pageSize=24&location=JLT
79,Ready,2023-06-02,"Goldcrest Views 2, Jumeirah Lake Towers",Apartment,3,101.61,1510.51,0.0,1500000.0,Mazyood Giga International FZE,Goldcrest Views 2,Jumeirah Lake Towers,https://viewit.ae/listings?purpose=Buy&page=1&pageSize=24&location=JLT

In [23]:
add_link('Dubai Production City (IMPZ)', 'IMPZ')

Added Link for Dubai Production City (IMPZ)

,Sales Type,Date,Location,Property Type,Bedrooms,Balcony Area,Built-up Area,Plot Size,Price,Developer,Sub,Area,Link
7,Off Plan,2023-06-02,"Mesk 1, Dubai Production City (IMPZ)",Apartment,2,87.30,1044.11,0.0,1073115.01,Deyaar Development Company,Mesk 1,Dubai Production City (IMPZ),https://viewit.ae/listings?purpose=Buy&page=1&pageSize=24&location=IMPZ
245,Ready,2023-06-01,"Afnan 4, Dubai Production City (IMPZ)",Apartment,0,35.95,426.90,0.0,430000.00,Deyaar Development Company,Afnan 4,Dubai Production City (IMPZ),https://viewit.ae/listings?purpose=Buy&page=1&pageSize=24&location=IMPZ

In [24]:
add_link('Umm Suqeim Third', '%20'.join('Umm Suqeim'.split()))

Added Link for Umm Suqeim Third

,Sales Type,Date,Location,Property Type,Bedrooms,Balcony Area,Built-up Area,Plot Size,Price,Developer,Sub,Area,Link
1030,Ready,2023-05-29,"Lamtara 3, Umm Suqeim Third",Apartment,1,67.81,781.68,0.0,2250000.0,Dubai Holding,Lamtara 3,Umm Suqeim Third,https://viewit.ae/listings?purpose=Buy&page=1&pageSize=24&location=Umm%20Suqeim
1202,Ready,2023-05-26,"Lamtara 3, Umm Suqeim Third",Apartment,2,584.16,1958.40,0.0,5000000.0,Dubai Holding,Lamtara 3,Umm Suqeim Third,https://viewit.ae/listings?purpose=Buy&page=1&pageSize=24&location=Umm%20Suqeim

In [25]:
for loc in ['Al Quoz Fourth', 'Al Quoz Second']:
    add_link(loc, '%20'.join('Al Quoz'.split()))

Added Link for Al Quoz Fourth
Added Link for Al Quoz Second

In [26]:
for loc in ['Al Qusais Industrial Fourth', 'Al Qusais Industrial Second']:
    add_link(loc, '%20'.join('Al Qusais'.split()))

Added Link for Al Qusais Industrial Fourth
Added Link for Al Qusais Industrial Second

In [27]:
for phase in ['2', '3']:
    print(f'Arabian Ranches Phase {phase}')

Arabian Ranches Phase 2
Arabian Ranches Phase 3

In [28]:
for phase in ['2', '3']:
    add_link(f'Arabian Ranches Phase {phase}', '%20'.join(f'Arabian Ranches {phase}'.split()))

Added Link for Arabian Ranches Phase 2
Added Link for Arabian Ranches Phase 3

In [30]:
add_link('Tecom Business Park (Al Sufouh)', 'Tecom')

Added Link for Tecom Business Park (Al Sufouh)

,Sales Type,Date,Location,Property Type,Bedrooms,Balcony Area,Built-up Area,Plot Size,Price,Developer,Sub,Area,Link
127610,Sales - Off-Plan,2023-12-28,"DAMAC CASA, Tecom Business Park (Al Sufouh)",Apartment,1,65.0,1099.0,NaN,3476060.0,NaN,DAMAC CASA,Tecom Business Park (Al Sufouh),https://viewit.ae/listings?purpose=Buy&page=1&pageSize=24&location=Tecom
127611,Sales - Off-Plan,2023-12-28,"DAMAC CASA, Tecom Business Park (Al Sufouh)",Apartment,1,36.0,946.0,NaN,2972340.0,NaN,DAMAC CASA,Tecom Business Park (Al Sufouh),https://viewit.ae/listings?purpose=Buy&page=1&pageSize=24&location=Tecom

In [31]:
add_link('Jumeirah Beach Residence', 'Jumeirah%20Beach%20Residence%20%28JBR%29')

Added Link for Jumeirah Beach Residence

,Sales Type,Date,Location,Property Type,Bedrooms,Balcony Area,Built-up Area,Plot Size,Price,Developer,Sub,Area,Link
74,Ready,2023-06-02,"Bahar 6, Jumeirah Beach Residence",Apartment,1,33.05,389.87,0.0,600000.0,Dubai Properties,Bahar 6,Jumeirah Beach Residence,https://viewit.ae/listings?purpose=Buy&page=1&pageSize=24&location=Jumeirah%20Beach%20Residence%20%28JBR%29
271,Ready,2023-06-01,"Bahar 6, Jumeirah Beach Residence",Apartment,1,33.05,779.74,0.0,1500000.0,Dubai Properties,Bahar 6,Jumeirah Beach Residence,https://viewit.ae/listings?purpose=Buy&page=1&pageSize=24&location=Jumeirah%20Beach%20Residence%20%28JBR%29

In [32]:
add_link('Jumeirah Golf Estates', 'Jumeirah%20Golf%20Estate')

Added Link for Jumeirah Golf Estates

,Sales Type,Date,Location,Property Type,Bedrooms,Balcony Area,Built-up Area,Plot Size,Price,Developer,Sub,Area,Link
349,Off Plan,2023-05-31,"Jouri Hills, Jumeirah Golf Estates",Villa,5,0.0,6478.64,6920.5,10269990.0,Arada Developments,Jouri Hills,Jumeirah Golf Estates,https://viewit.ae/listings?purpose=Buy&page=1&pageSize=24&location=Jumeirah%20Golf%20Estate
350,Off Plan,2023-05-31,"Jouri Hills, Jumeirah Golf Estates",Villa,5,0.0,6478.64,6617.6,10882080.0,Arada Developments,Jouri Hills,Jumeirah Golf Estates,https://viewit.ae/listings?purpose=Buy&page=1&pageSize=24&location=Jumeirah%20Golf%20Estate

In [33]:
add_link('Jumeirah Village Triangle', 'Jumeirah%20Village%20Triangle%20%28JVT%29')

Added Link for Jumeirah Village Triangle

,Sales Type,Date,Location,Property Type,Bedrooms,Balcony Area,Built-up Area,Plot Size,Price,Developer,Sub,Area,Link
84,Ready,2023-06-02,"Al Jawhara Tower, Jumeirah Village Triangle",Apartment,0,0.0,393.75,0.0,300000.0,Tiger Real Estate,Al Jawhara Tower,Jumeirah Village Triangle,https://viewit.ae/listings?purpose=Buy&page=1&pageSize=24&location=Jumeirah%20Village%20Triangle%20%28JVT%29
294,Ready,2023-06-01,"Al Jawhara Tower, Jumeirah Village Triangle",Apartment,0,0.0,393.32,0.0,300000.0,Tiger Real Estate,Al Jawhara Tower,Jumeirah Village Triangle,https://viewit.ae/listings?purpose=Buy&page=1&pageSize=24&location=Jumeirah%20Village%20Triangle%20%28JVT%29

In [34]:
for loc in ['Business Park Motor City', 'Green Community Motor City', 'Uptown Motorcity']:
    add_link(loc, '%20'.join('Motor City'.split()))

Added Link for Business Park Motor City
Added Link for Green Community Motor City
Added Link for Uptown Motorcity

In [37]:
add_link('Dubai South (Dubai World Central)', 'Dubai%20World%20Central')

Added Link for Dubai South (Dubai World Central)

,Sales Type,Date,Location,Property Type,Bedrooms,Balcony Area,Built-up Area,Plot Size,Price,Developer,Sub,Area,Link
4542,Ready,2023-05-05,"Kappa Acca 4, Dubai South (Dubai World Central)",Apartment,0,52.53,401.17,0.0,374000.0,Kappa Acca Real Estate Development,Kappa Acca 4,Dubai South (Dubai World Central),https://viewit.ae/listings?purpose=Buy&page=1&pageSize=24&location=Dubai%20World%20Central
4543,Ready,2023-05-05,"Kappa Acca 4, Dubai South (Dubai World Central)",Apartment,0,52.53,399.13,0.0,372500.0,Kappa Acca Real Estate Development,Kappa Acca 4,Dubai South (Dubai World Central),https://viewit.ae/listings?purpose=Buy&page=1&pageSize=24&location=Dubai%20World%20Central

In [38]:
add_link('World Islands', '%20'.join('The World Islands'.split()))

Added Link for World Islands

,Sales Type,Date,Location,Property Type,Bedrooms,Balcony Area,Built-up Area,Plot Size,Price,Developer,Sub,Area,Link
2469,Off Plan,2023-05-18,"The Cote d Azur - Monaco, World Islands",Hotel Apartment,0,0.0,405.37,0.0,1359738.0,Kleindienst Group,The Cote d Azur - Monaco,World Islands,https://viewit.ae/listings?purpose=Buy&page=1&pageSize=24&location=The%20World%20Islands
2470,Off Plan,2023-05-18,"The Cote d Azur - Monaco, World Islands",Hotel Apartment,0,0.0,405.80,0.0,1200000.0,Kleindienst Group,The Cote d Azur - Monaco,World Islands,https://viewit.ae/listings?purpose=Buy&page=1&pageSize=24&location=The%20World%20Islands

In [39]:
for i in ['First', 'Second']:
    add_link(f'Trade Center {i}', '%20'.join('World Trade Centre'.split()))

Added Link for Trade Center First
Added Link for Trade Center Second

In [40]:
for locs in ['Jumeirah Bay Island', 'Jumeirah First', 'Jumeirah Second']:
    add_link(locs, 'Jumeirah')

Added Link for Jumeirah Bay Island
Added Link for Jumeirah First
Added Link for Jumeirah Second

In [41]:
add_link('The Springs', 'Springs')

Added Link for The Springs

,Sales Type,Date,Location,Property Type,Bedrooms,Balcony Area,Built-up Area,Plot Size,Price,Developer,Sub,Area,Link
89,Ready,2023-06-02,"The Springs, The Springs",Villa,2,0.0,1651.95,1856.79,2350000.0,Emaar Properties PJSC,The Springs,The Springs,https://viewit.ae/listings?purpose=Buy&page=1&pageSize=24&location=Springs
90,Ready,2023-06-02,"The Springs, The Springs",Villa,2,0.0,2425.29,2756.01,2975000.0,Emaar Properties PJSC,The Springs,The Springs,https://viewit.ae/listings?purpose=Buy&page=1&pageSize=24&location=Springs

In [44]:
locs = """Nad Al Shiba
Nad Al Shiba First
Nad Al Shiba Third""".split('\n')

for loc in locs:
    add_link(loc, '%20'.join('Nad Al Sheba'.split()))

Added Link for Nad Al Shiba
Added Link for Nad Al Shiba First
Added Link for Nad Al Shiba Third

In [45]:
add_link('Muhaisanah First', 'Muhaisnah')

Added Link for Muhaisanah First

,Sales Type,Date,Location,Property Type,Bedrooms,Balcony Area,Built-up Area,Plot Size,Price,Developer,Sub,Area,Link
1055,Off Plan,2023-05-26,"Madinat Badr - Qamar 7, Muhaisanah First",Apartment,1,267.49,1090.61,0.0,1309200.0,Nakheel PJSC,Madinat Badr - Qamar 7,Muhaisanah First,https://viewit.ae/listings?purpose=Buy&page=1&pageSize=24&location=Muhaisnah
1765,Off Plan,2023-05-23,"Madinat Badr - Qamar 7, Muhaisanah First",Apartment,2,172.65,1454.22,0.0,1890200.0,Nakheel PJSC,Madinat Badr - Qamar 7,Muhaisanah First,https://viewit.ae/listings?purpose=Buy&page=1&pageSize=24&location=Muhaisnah

In [49]:
add_link('Town Square', linkify('Nshama Town Square'))

Added Link for Town Square

,Sales Type,Date,Location,Property Type,Bedrooms,Balcony Area,Built-up Area,Plot Size,Price,Developer,Sub,Area,Link
320,Ready,2023-06-01,"Hayat Townhouses, Town Square",Villa,3,0.0,2210.39,2029.44,1950000.0,Nshama,Hayat Townhouses,Town Square,https://viewit.ae/listings?purpose=Buy&page=1&pageSize=24&location=Nshama%20Town%20Square
321,Ready,2023-06-01,"Noor Townhouses, Town Square",Villa,3,0.0,2082.19,2022.77,1850000.0,Nshama,Noor Townhouses,Town Square,https://viewit.ae/listings?purpose=Buy&page=1&pageSize=24&location=Nshama%20Town%20Square

In [ ]:
ready_df = df.copy(deep=True)

In [ ]:
ready_df.loc[ready_df['Area'] == ready_df['Sub'], 'Location'] = ready_df['Area']

In [ ]:
ready_df = ready_df.drop(columns=['Area', 'Sub'], axis=1)

In [83]:
df.to_csv('data/reidin_merged_citations.csv', index=False)

In [82]:
reidin = []
viewit = []

with open('test.txt', 'r') as f:
    for i in f.readlines()[2:]:
        reidin.append(i.strip())

with open('test2.txt', 'r') as g:
    for j in g.readlines()[2:]:
        viewit.append(j.strip())

print('Reidin areas remaining:\t', len(reidin))
print('Viewit areas remaining:\t', len(viewit))
print('Total remaining:\t', df['Link'].str.contains('nan').sum())
print(f"Percent remaining:\t{(df['Link'].str.contains('nan').sum() * 100) / len(df):.2f}%")

Reidin areas remaining:	 51
Viewit areas remaining:	 60
Total remaining:	 52570
Percent remaining:	24.16%